### Basic coding exercises

In [1]:
#1 Calculate the sum of three given numbers
def sum_num(a, b, c):
    if a==b==c:
        return 2*(a + b + c)
    else:
        return (a + b + c)
    
sum_num(3, 4, 6)
sum_num(2, 2, 2)

12

In [2]:
#2 Calculate the square root of a number
import math

def sqrt1(num):
    return round(math.sqrt(num), 3)

sqrt1(9)

3.0

In [3]:
#3 Return the quotient and remainder
def quot_rem(num1, num2):
    return round(num1 / num2, 2), num1 % num2

quot_rem(179, 176)

(1.02, 3)

In [4]:
#4 Check whether a number is even or odd
def even_odd(num):
    if num % 2 == 0:
        return('Even')
    else:
        return('Odd')
    
even_odd(1)

'Odd'

In [5]:
#5 Determine the factors of a number
def factors(num):
    factors = []
    for i in range(num + 1):
        if i != 0 and num % i == 0:
            factors.append(i)
    return factors

factors(28)

[1, 2, 4, 7, 14, 28]

In [6]:
#6 Find the power of any number x^y
def power(x, y):
    return x ** y

power(2, 39)

549755813888

In [7]:
#7 Return the decimal part of a number
def decimal_part(num):
    if type(num) == float:
        return(round(num % 1, 2))
    else:
        return 'INTEGER'
        
decimal_part(2)

'INTEGER'

In [8]:
#8 FizzBuzz Program
def fizzbuzz(num):
    if num % 3 == 0 and num % 5 == 0:
        return('FizzBuzz')
    elif num % 3 == 0:
        return('Fizz')
    elif num % 5 == 0:
        return('Buzz')
    else:
        return num
        
fizzbuzz(22)

22

In [9]:
#9 Calculate the number of numerical digitsnin a string
def count_num_digits(st):
    count = 0
    for i in st:
        if '0' <= i <= '9':
            count += 1
    return count

count_num_digits('dg15638')

5

In [10]:
#10 Check if a number is equal to the sum of its positive divisors, except itself
def sum_pos_divisor(num):
    factors = []
    for i in range(num + 1):
        if i != 0 and num % i == 0:
            factors.append(i)
    if sum(factors[:-1]) == num:
        return True
    else:
        return False

sum_pos_divisor(29)

False

In [11]:
#11 Chech if the given year, month has the Friday 13th
import datetime

def check_friday_13(yr, mon):
    dt = datetime.datetime(yr, mon, 13)
    if dt.strftime('%A') == 'Friday':
        return dt, True
    else:
        return dt, False
    
check_friday_13(2020, 3)

(datetime.datetime(2020, 3, 13, 0, 0), True)

In [12]:
#12 Return the next number greater than two numbers a and b
def check_division(a, b):
    summ = (a + b)
    while summ % b != 0:
        summ += 1
    else:
        return summ
    
check_division(25, 6)

36

In [13]:
#13 length of a number without len()
import random

def calculate_length():
    randnum = random.randrange(5001)
    count = 0
    for i in str(randnum):
        count += 1
    return randnum, count
    
calculate_length()

(4532, 4)

In [14]:
#14 Boolean values
def booleans(x, y, z):
    if x + y + z >= 2:
        return x, y, z, True
    else:
        return x, y, z, False

booleans(False, False, False)

(False, False, False, False)

In [15]:
#15 Factorial of a number
import random
import math

def factorial():
    randnum = random.randrange(11)
    return randnum, math.factorial(randnum)

factorial()

(3, 6)

In [16]:
#16 Check if a function returns a whole number without decimals after dividing
def check_division(num):
    numb = str(num).split('.')
    x, y = numb
    if int(y) == 0:
        return num, True
    else:
        return num, False

check_division(5.0)

(5.0, True)

In [17]:
#17 Prime number
def prime_num(num):
    if num != 2 and num != 3:
        if num % 2 != 0 and num % 3 != 0:
            return True
        else:
            return False
    else:
        return True
    
prime_num(6)

False

In [18]:
#18 Sum of digits in an integer
import random

def sum_digits():
    randnum = str(random.randrange(100, 301))
    rnlist = [i for i in randnum]
    total = 0
    for i in rnlist:
        total += int(i)
    return int(randnum), total
    
sum_digits()

(276, 15)

In [19]:
#19 Return the number divisible by 15 in a list
import random

def divide_by_15():
    input_list = [random.randrange(101) for i in range(10)]
    output_list = [i for i in input_list if i % 15 == 0]
    return input_list, output_list

divide_by_15()

([91, 31, 97, 73, 55, 7, 45, 86, 35, 19], [45])

In [20]:
#20 Swap bits in an integer
def swap_bits(num):
    num = f'{num:08b}'
    num_out = ''
    numlist = [i for i in str(num)]
    numlist[2], numlist[6] = numlist[6], numlist[2]
    for i in numlist:
        num_out += i
    return int(num_out, 2)
    
swap_bits(40)

10

In [21]:
#21 Fibonacci series
import random

def Fibonacci():
    ran = random.randrange(5, 11)
    fibo_sec = [0, 1]
    n = 1
    curr = int(fibo_sec[n]) + int(fibo_sec[n - 1])
    while ran != len(fibo_sec):
        fibo_sec.append(curr)
        n += 1
        curr = int(fibo_sec[n]) + int(fibo_sec[n - 1])
    else:
        return ran, fibo_sec
    
Fibonacci()

(7, [0, 1, 1, 2, 3, 5, 8])

### String

In [22]:
#22 Reverse a string
def string_reverse(first, second):
    temp = first + ' ' + second
    temp = list(temp)[::-1]
    new_string = ''
    return new_string.join(temp)

string_reverse('Alen', 'Brown')

'nworB nelA'

In [23]:
#23 Swap two strings without using a third variable
def swap_strings(s1, s2):
    s1, s2 = s2, s1
    return s1, s2

swap_strings('qwer', '1234')

('1234', 'qwer')

In [24]:
#24 Count the number of vowels in a given string
def count_vowels(string):
    vowels = ['e', 'y', 'u', 'i', 'o', 'a']
    count = 0
    for i in string:
        if i in vowels:
            count += 1
    return count

count_vowels('dolphin')

2

In [25]:
#25 Remove duplicate elements from a string
def remove_duplicates(string):
    uniq = set()
    str2 = ''
    for i in list(string):
        if i not in uniq:
            str2 += i
            uniq.add(i)
    return str2

remove_duplicates('string in3 d')

'string 3d'

In [26]:
#26 Remove consecutive duplicate characters in a string
def remove_duplicates(string):
    new, count = '', 0
    string = list(string)
    for i in string:
        if count != 0:
            if i == string[count - 1]:
                del string[count - 1]
        count += 1
    return new.join(string)
    
remove_duplicates('mississauga')

'misisauga'

In [27]:
#27 Reverse words in a string
def reverse_string(string):
    strlist, new, count = string.split(' '), '', 0
    for i in range(len(strlist)):
        if strlist[count] == '':
            del strlist[count]
        else:
            count +=1
    for i in strlist[::-1]:
        new += i
        if i != strlist[0]:
            new += ' '
    return new
    
reverse_string('i am      correct   ')

'correct am i'

In [28]:
#28 Longest common prefix
def longest_prefix(*s1):
    alist, llist, pref, count, rounds = [], [], '', 0, 0
    alist += s1
    llist = [list(i) for i in alist]
    for i in range(len(min(llist))):
        while count + 1 < len(alist):
            if llist[0][rounds] == llist[count][rounds]:
                count += 1
            else:
                break
        else:
            pref += llist[0][rounds]
            count = 0
        rounds += 1    
    return pref

longest_prefix('abcdr123', 'abc2434', 'abc345', 'abc')

'abc'

In [29]:
#29 Return the letter added to a string
def new_letter(s, t):
    slist, tlist = set(s), set(t)
    tlist.difference_update(slist)
    for i in tlist:
        return i
    
new_letter('python', 'pythonb')

'b'

In [30]:
#30 String to Boolean conversion
def string_to_bool(s1):
    if s1.lower() == 'true':
        return True
    elif s1.lower() == 'false':
        return False
    else:
        return 'Invalid input'
    
string_to_bool('FALSE')

False

In [31]:
#31 Remove white spaces from a string
def remove_spaces(s1):
    return ''.join(s1.split(' '))

remove_spaces('s 1 d f')

's1df'

In [32]:
#32 Convert a string with decimals to an integer
def str_to_int(s1):
    return int(float(s1))

str_to_int('12.34')

12

In [33]:
#33 Return n copies of a given string
def copies_of_string(s1, num):
    return s1 * num

copies_of_string('noice', 69)

'noicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoicenoice'

In [34]:
#34 Calculate the number of upper case letters in a string
def count_case(inpstr):
    count = 0
    for i in list(inpstr):
        if 'A' <= i <= 'Z':
            count += 1
    return count

count_case('iiyY 23g T iTg')

3

In [35]:
#35 Convert string to hexadecimal numbers
def convert_to_hex(s1):
    new, out = [], ''
    for i in list(s1):
        new.append(hex(ord(i)).split('0x'))
    for i in new:
        if i != '':
            out += i[1]
        if i != new[-1]:
            out += ' '
    return out
    
convert_to_hex('Python')

'50 79 74 68 6f 6e'

In [36]:
#36 Separate the digits of an integer
def separate_digits(num):
    lnum = []
    for i in list(str(num)):
        lnum.append(int(i))
    return lnum

separate_digits(1475)

[1, 4, 7, 5]

In [37]:
#37 Check whether a string is a pangram or not
import string

def pangram(inpstr):
    count = 0
    for i in string.ascii_lowercase:
        if i in inpstr.lower():
            count += 1
    if count == 26:
        return True
    else:
        return False
        
pangram('The quick brown fox jumps over the lazy dog')

True

In [38]:
#38 Remove all occurrences of a given character from an input string
def remove_char(inpstr, charr):
    slist = list(inpstr)
    for i in slist:
        if i == charr:
            slist.remove(i)
    return ''.join(slist)

remove_char('qwertyeke', 'e')

'qwrtyk'

In [39]:
#39 Check if the given string is a valid pin or not
'''A valid pin has: exactly 5 characters, only numerical characters,
   no whitespaces.'''
def valid_pin(inpstr):
    slist = list(inpstr)
    if len(inpstr) == 5:
        for i in slist:
            if '0' <= i <= '9':
                continue
            else:
                return False
        if ' ' in slist:
            return False
    else:
        return False
    return True

valid_pin('02463')

True

In [40]:
#40 Number of occurrences of a sub-string in a given string
import re

def find_substring(inpstr, sub):
    count = inpstr.count(sub)
    poslist = [poslist.start() for poslist in re.finditer(sub, inpstr)]
    return count, poslist

find_substring('qwertyrt', 'rt')

(2, [3, 6])

In [41]:
#41 Convert the given string into Pig Latin
def pig_latin(inpstr):
    slist = list(inpstr)
    vowels = ['a', 'e', 'i', 'o', 'u','y']
    cons, count = '', 0
    if slist[0] in vowels:
        return inpstr + 'yay'
    for i in range(len(slist)):
        if slist[i].lower() not in vowels and slist[i + 1].lower() not in vowels:
            cons += slist[i]
            count += 1
        elif slist[i].lower() not in vowels and slist[i + 1].lower() in vowels:
            cons += slist[i]
            count += 1
            break
    return inpstr[count:] + cons + 'ay'
            
pig_latin('scrinpstr')

'inpstrscray'

In [42]:
#42 Return a string that consists of 'n' copies of the input string
def string_copies(inpstr):
    return inpstr * len(inpstr)

string_copies('inpstr')

'inpstrinpstrinpstrinpstrinpstrinpstr'

In [43]:
#43 Write a program to get a str made of the first 2 and the last 2 chars from a given string
def str_first2_last2_char(inpstr):
    if len(inpstr) <= 2:
        return ''
    return inpstr[0:2] + inpstr[-2:]

str_first2_last2_char('100')

'1000'

### List

In [44]:
#44 Replace elements in a list
def replace_value(input_list):
    modified_input_list = []
    for i in input_list:
        if i == 'd':
            modified_input_list += 'c'
        else:
            modified_input_list += i
    return (modified_input_list)

ex = ['a', 'b', 'd', 'd', 'e', 'd', 'g']
replace_value(ex)

['a', 'b', 'c', 'c', 'e', 'c', 'g']

In [45]:
#45 Remove zeroes from a list
def remove_zero(input_list):
    modified_input_list = []
    for i in input_list:
        if i == 0:
            continue
        else:
            modified_input_list.append(i)
    return (modified_input_list)

ex = [1,2,0,9,7,0,2,6,0]
remove_zero(ex)

[1, 2, 9, 7, 2, 6]

In [46]:
#46 Return the kth largest element in a list
def kth_largest_element(input_list, k):
    input_list.sort()
    input_list.reverse()
    return input_list[k - 1]

ex = [971, 72, 3, 148, 882, 90, 45, -1.888]
k = 2
kth_largest_element(ex, k)

882

In [47]:
#47 Return the indices of all occurrences of an element in a list
def indices(input_list, element):
    output_list, c = [], 0
    for i in input_list:
        if i == element:
            output_list.append(c)
        c += 1
    return output_list

ex = [10, 6, 7, 10, 9, 1, -1, 10]
e = 10
indices(ex, e)

[0, 3, 7]

In [48]:
#48 Remove all occurrences of an element from a list
def remove_20(input_list):
    for i in input_list:
        if 20 in input_list:
            input_list.remove(20)
    return input_list

ex = [5, 20, 15, 20, 25, 50, 20]
remove_20(ex)

[5, 15, 25, 50]

In [49]:
#49 Concatenate n input lists
def concat(*n):
    output_list, li = [], []
    for i in range(len(n)): 
        li.extend(n[i])
    c = 0
    while c < len(li):
        if c < len(li) and type(li[c]) == int:
            output_list.append(li[c])
            c += 1
        elif c < len(li):
            output_list.extend(li[c])
            c += 1
    return output_list

ex = [1, 2, 3,], [4, 5, 6], [7, 8], 9
concat(ex)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
#50 Pascal's triangle
import random
def pascal_triangle():
    n = random.randrange(2, 9)
    output_list = []
    for i in range(n):
        output_list.append([])
        output_list[i].append(1)
        for j in range(1, i):
            output_list[i].append(output_list[i - 1][j - 1] + output_list[i - 1][j])
        if n != 0 and i != 0:
            output_list[i].append(1)
    return n, output_list

pascal_triangle()

(2, [[1], [1, 1]])

In [51]:
#51 Highest possible product
input_list = [20, 7, 3, 6, -1, 0, 9]
def highest_prod(in_list):
    in_list.sort()
    prod = in_list[-1] * in_list[-2] * in_list[-3]
    return prod
    
highest_prod(input_list)

1260

In [52]:
#52 Given a list of words in the singular form, return a set of those words in a plural form
input_list = ['chair', 'chair', 'desk']
def pluralize(input_list):
    output_set = set(input_list)
    output_list = []
    for i in output_set:
        input_list.remove(i)
        if i in input_list:
            output_list.append(i + 's')
        else:
            output_list.append(i)
    return output_list

pluralize(input_list)

['desk', 'chairs']

In [53]:
#53 Sort the words in the list based on their second letter from a to z
input_list =  ['coral', 'teal', 'mustard', 'blue violet', 'maroon', 'indigo', 'white', 'lime', 'navy']
def word_sort(input_list):
    sorted_list = sorted(input_list, key=lambda i: i[1:])
    return sorted_list

word_sort(input_list)

['maroon',
 'navy',
 'teal',
 'white',
 'lime',
 'blue violet',
 'indigo',
 'coral',
 'mustard']

In [54]:
#54 Return the index of a target value in a list
input_list = [0,1,5,7,8]
target = 6
def return_index(input_list, target):
    if target in input_list:
        return input_list.index(target)
    else:
        temp = None
        for i in input_list:
            if temp == None:
                temp = i
            else:
                if temp < target and target < i:
                    return input_list.index(i)
                else:
                    temp = i

return_index(input_list, target)

3

In [55]:
#55 Highest number in a list
input_list = [9, 6, 45, 67, 12]
def high_num(input_list):
    return sorted(input_list)[-1]

high_num(input_list)

67

In [56]:
#56 Multiply all elements in a list
import math
input_list = [1,2,3,4,5,6,6,5]
def multiple_elements(input_list):
    return math.prod(input_list)

multiple_elements(input_list)

21600

In [57]:
#57 Tramsform a list of characters into a list of dictionaries
input_list = ['P', 'y', 't', 'h', 'o', 'n']
def to_dict(input_list):
    out_list = []
    for i in input_list:
        temp = {}
        temp[i] = ord(i)
        out_list.append(temp)
    return out_list

to_dict(input_list)

[{'P': 80}, {'y': 121}, {'t': 116}, {'h': 104}, {'o': 111}, {'n': 110}]

In [58]:
#58 Sort the list in a descending order
input_list = [5, 7, 2, 0, 6, 1]
def sort_dec(input_list):
    input_list.sort(reverse=True)
    return input_list

sort_dec(input_list)

[7, 6, 5, 2, 1, 0]

In [59]:
#59 Return the missing number from a sequence of unique integers 
def missing_number(input_list):
    input_list.sort(reverse=True)
    miss = None
    for i in range(len(input_list) - 1):
        if input_list[i] - input_list[i + 1] != 1:
            return input_list[i] - 1
        
missing_number(input_list)

4

In [60]:
#60 Return the digits in a numberin the form of a list
num = 12345
def num_to_list(num):
    out = []
    for i in str(num):
        out.append(int(i))
    return out

num_to_list(num)

[1, 2, 3, 4, 5]

In [61]:
#61 Return a list containing all the numbers within the start and end ranges
s, e = 10, 6
def inclusive_list(start, end):
    out = []
    if start < end:
        for i in range(start, end + 1):
            out.append(i)
    elif start > end:
        for ind, i in enumerate(range(start - end + 1)):
            out.append(start - ind)
    return out

inclusive_list(s, e)

[10, 9, 8, 7, 6]

In [62]:
#62 Return the element that has the max number of consecutive occurrences in a list
input_list = [1,13,3,3,3,4,5,6,6,6,6]

def counter(max_occur_elem, init_pos, count, temp_count, input_list, inx):
    if temp_count > count:
        count = temp_count
        temp_count = 1
        init_pos = inx + 1 - count
        max_occur_elem = input_list[init_pos]
    else:
        temp_count = 1
    return max_occur_elem, init_pos, count, temp_count

def max_occur_element(input_list):
    max_occur_elem, init_pos, count, temp_count = input_list[0], 0, 1, 1
    for inx, i in enumerate(input_list):
        if inx < len(input_list) - 1:
            if i == input_list[inx + 1]:
                temp_count += 1
            else:
                max_occur_elem, init_pos, count, temp_count = \
                counter(max_occur_elem, init_pos, count, temp_count,input_list, inx)
        else:
            max_occur_elem, init_pos, count, temp_count = \
            counter(max_occur_elem, init_pos, count, temp_count, input_list, inx)
    return max_occur_elem, init_pos, count
max_occur_element(input_list)

(6, 7, 4)

In [63]:
#63 Return the missing number in a list containing elems from 1 to 100
#63 == #59

In [64]:
#64 Remove duplicate elements from a list
input_list = [1, 2, 3, 4, 5, 6, 6, 5]
def remove_duplicates(input_list):
    return list(set(input_list))

remove_duplicates(input_list)

[1, 2, 3, 4, 5, 6]

In [65]:
#65 Combine elements from 2 lists in gived order
input_list1 = ['a', 'b', 'c']
input_list2 = ['x', 'y', 'z']

def concat_list(input_list1, input_list2):
    output_list = []
    for inx, i in enumerate(input_list1):
        output_list.append(input_list1[inx])
        output_list.append(input_list2[inx])
    return output_list

concat_list(input_list1, input_list2)

['a', 'x', 'b', 'y', 'c', 'z']

In [66]:
#66 Find the elements in a list whose sum is equal to a given value
input_list = [5, 7, 1, 2, 8, 4, 3, 6]
def sum_of_elements(input_list):
    output_list = []
    for inx, i in enumerate(input_list):
        for j in input_list:
            if input_list.index(i) != input_list.index(j):
                if i + j == 10:
                    output_list.append([i, j])
        input_list[inx] = 0
    return output_list

sum_of_elements(input_list)

[[7, 3], [2, 8], [4, 6]]

### Dictionary

In [67]:
#67 Maximum value in a dictionary
input_dict = {1:1, 2:4, 3:9, 4:16, 5:25}
def max_value(input_dict):
    highest = 0
    for i in input_dict.values():
        if i > highest:
            highest = i
    return highest

max_value(input_dict)

25

In [68]:
#68 Sum all the values in a dictionary
input_dict = {'a':100, 'b':-54, 'c':247}
def sum_values(input_dict):
    sum_v = 0
    for i in input_dict.values():
        sum_v += i
    return sum_v

sum_values(input_dict)

293

In [69]:
#69 Multiply all the values in a dictionary
input_dict = {1:1, 2:4, 3:9, 4:16, 5:25}
def multiply_values(input_dict):
    prod = 1
    for i in input_dict.values():
        prod *= i
    return prod

multiply_values(input_dict)

14400

In [70]:
#70 Return all unique values in a dictionary
input_dict = {'box1':'Apple', 'box2':'Mango', 'box3':'Orange', 'box4':'Apple', 'box5':'Orange', 'box6':'Orange', 'box7':'Strawberry', 'box8':'Apple'}
def remove_duplicates(input_dict):
    uniques = set(input_dict.values())
    return list(uniques)

remove_duplicates(input_dict)

['Orange', 'Apple', 'Strawberry', 'Mango']

In [71]:
#71 Invert the keys and values of a dictionary
input_dict = {'box1':'Apple', 'box2':'Orange'}
def invert_dict(input_dict):
    reversed_d = {}
    for i, j in input_dict.items():
        reversed_d[j] = i
    return reversed_d

invert_dict(input_dict)

{'Apple': 'box1', 'Orange': 'box2'}

In [72]:
#72 Generate a dictionary that contains key, value pairs (1 - 10) in the form of (x, x*x)
def create_dict():
    new_dict = {}
    for i in range(1, 11):
        new_dict[i] = i * i
    return new_dict

create_dict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [73]:
#73 Remove empty items from a dictionary
input_dict = {'box1':'Apple', 'box2':'Mango', 'box3':' ', 'box4':' ', 'box5':'Orange'}
def remove_empty(input_dict):
    output_dict = {}
    for i, j in input_dict.items():
        if len(j) > 2:
            output_dict[i] = j
    return output_dict

remove_empty(input_dict)

{'box1': 'Apple', 'box2': 'Mango', 'box5': 'Orange'}

In [74]:
#74 Map two lists into a dictionary
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
def map_lists(list1,list2):
    return (dict(zip(list1,list2)))

map_lists(list1,list2)

{1: 6, 2: 7, 3: 8, 4: 9, 5: 10}

In [75]:
#75 Sort a dictionary by value
input_dict ={'apples':10, 'oranges':6, 'banana':12, 'pears':5}
def dict_sort(input_dict):
    sorted_vals = sorted(invert_dict(input_dict)) #func from 71
    temp = invert_dict(input_dict)
    sorted_dict = {}
    for i in sorted_vals:
        sorted_dict[i] = temp[i]
    return invert_dict(sorted_dict)

'''
        efficient, "golf" way:
    return dict(sorted(input_dict.items(), key=lambda item: item[1]))
'''


dict_sort(input_dict)

{'pears': 5, 'oranges': 6, 'apples': 10, 'banana': 12}

In [76]:
#76 Remove duplicatea fom a dictionary
input_dict = {'box1':'Apple', 'box2':'Mango', 'box3':'Orange', 'box4':'Apple', 'box5':'Orange', 'box6':'Orange', 'box7':'Strawberry', 'box8':'Apple'}
def remove_duplicates1(input_dict):
    output_dict = {}
    for i, j in input_dict.items():
        if j not in output_dict.values():
            output_dict[i] = j
    return output_dict
    
remove_duplicates1(input_dict)

{'box1': 'Apple', 'box2': 'Mango', 'box3': 'Orange', 'box7': 'Strawberry'}

### Set

In [77]:
#77 Compare two sets
set1 = set([2,4,6,8,9,10])
set2 = set([1,3,5,7,9,11])
def compare_sets(set1, set2):
    output_set = set()
    for i in set1:
        if i not in set2:
            output_set.add(i)
    return output_set

compare_sets(set1, set2)

{2, 4, 6, 8, 10}

In [78]:
#78 Intersection of set
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8} 
def set_intersection(set1, set2):
    return set1 & set2

set_intersection(set1, set2)

{4, 5}

In [79]:
#79 Difference of two sets
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8} 
def set_diff(set1, set2):
    return set1 - set2

set_diff(set1, set2)

{1, 2, 3}

In [80]:
#80 Union of sets
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
def set_union(set1,set2):
    return set1 | set2

set_union(set1, set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [81]:
#81 Symmetric difference of two sets
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
def sym_diff(set1, set2):
    return set1 ^ set2

sym_diff(set1, set2)

{1, 2, 3, 6, 7, 8}

In [82]:
#82 Remove elements that exist only in set1 but not in set2
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
def diff_update(set1, set2):
    return set1 - set2

diff_update(set1, set2)

{1, 2, 3}

### Functions - variable scope

In [83]:
#83 Correct the code below and return the sum of a, b, c.
def scope():
    '''
    a = 5
    def outer():
        b = 10
        return (res1 + b)
        def inner():
            c = 15
            return c
        res1 = inner()
    res2 = outer()
    return res2 + a
    '''
    a = 5
    def outer():
        b = 10
        def inner():
            c = 15
            return c
        res1 = inner()        
        return res1 + b
    res2 = outer()
    return res2 + a

scope()

30

### Datetime module

In [84]:
#84 Check whether given year is a leap year or not
import datetime
input_date = datetime.date(2020,1,1)
def leap_year(input_date):
    if input_date.year % 4 == 0:
        return 'Leap Year'
    else:
        return 'Non Leap Year'

leap_year(input_date)

'Leap Year'

In [85]:
#85 Number of days between two given dates
date1 = datetime.date(2011,1,1)
date2 = datetime.date(2021,1,1)
def date_diff(date1, date2):
    return date2 - date1

date_diff(date1, date2)

datetime.timedelta(days=3653)

In [86]:
#86 Return the previous and the next day of a given date
input_date = datetime.date(2020,12,31)
def calculate_dates(input_date):
    return input_date - datetime.timedelta(days=1), input_date, \
           input_date + datetime.timedelta(days=1)

                                    
calculate_dates(input_date)

(datetime.date(2020, 12, 30),
 datetime.date(2020, 12, 31),
 datetime.date(2021, 1, 1))

In [87]:
#87 Convert Year/Month/Day to Day of Year
import random
import datetime
def day_of_year():
    year = random.randrange(1, 9999)
    month = random.randrange(1, 13)
    day = random.randrange(1, 29)
    chosen_date = datetime.date(year, month, day)
    day_of_the_year = chosen_date.strftime('%j')
    return chosen_date, day_of_the_year
    
day_of_year()

(datetime.date(8456, 9, 5), '249')

In [88]:
#88 Calculatebthe date six months from a given date
input_date = datetime.date(2021,1,7)
def add_to_date(input_date):
    return input_date + datetime.timedelta(days=182)

add_to_date(input_date)

datetime.date(2021, 7, 8)

In [89]:
#89 Substract five days from random date
def subtract_days():
    chosen_date, x = day_of_year() #from 87
    return chosen_date, chosen_date - datetime.timedelta(days=5)
    
subtract_days()

(datetime.date(860, 7, 25), datetime.date(860, 7, 20))

In [90]:
#90 Return whether a date is a valid date
def check_date(year, month, day):
    try:
        datetime.date(year, month, day)
    except:
        return False
    return True

check_date(23021,12,3)

False

In [91]:
#91 Convert a string date to timestamp
input_string = 'Jan 01 2011 08:36:40 PM'
def convert_to_ts(input_string):
    conv_str = datetime.datetime.strptime(input_string, '%b %d %Y %I:%M:%S %p')
    return datetime.datetime.timestamp(conv_str)

convert_to_ts(input_string)

1293910600.0

In [92]:
#92 Convert unix timestampnto readable format
unix_timestamp = 1609931401
def convert_timestamp(unix_timestamp):
    return datetime.datetime.fromtimestamp(unix_timestamp)

convert_timestamp(unix_timestamp)

datetime.datetime(2021, 1, 6, 12, 10, 1)

### Classes

In [93]:
#93 Calculator class
class Calculator:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def add(self):
        return self.x, self.y, self.x + self.y
    
    def sub(self):
        return self.x, self.y, self.x - self.y
    
    def mul(self):
        return self.x, self.y, self.x * self.y
    
    def div(self):
        return self.x, self.y, round(self.x / self.y, 2)

In [94]:
#94 Vehicle class
class Car:
    cars = 0
    def __init__(self, model, year, type_of_car, unique_id):
        self.model = model, 
        self.year = year, 
        self.type_of_car = type_of_car, 
        self.unique_id = unique_id
        
    def no_of_vehicles(self):
        Car.cars += 1
        return Car.cars

In [95]:
#95 Return the number 1's, 3's and 9's in an int
class Ones_threes_nines:
    def __init__(self, num):
        self.num = num
        self.ones = self.num // 1
        self.threes = self.num // 3
        self.nines=self.num // 9

In [96]:
#96 Employee class
class Employee:
    def __init__(self, full_name, **a):
        self.first_name, self.last_name = full_name.split(' ')
        for k in a.keys():
            self.__setattr__(k, a[k])

In [97]:
#97 Person class
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def compare(self, other):
        if self.age > other.age:
            return f'{other.name} is younger than me.'
        elif self.age == other.age:
            return f'{other.name} is the same age as me.'
        else:
            return f'{other.name} is older than me.'

### Exceptions

In [98]:
#98 Try-except clause
def validate(a, b):
    try:
        a / b
    except Exception as err:
        return err
    return a / b

validate(1,'s')

TypeError("unsupported operand type(s) for /: 'int' and 'str'")

### File handling

In [99]:
#99 Return the number of times a given string occurs in a text file
def read_text_file(word):
    count = 0
    with open('C:\\Users\\KDmytro\\input.txt') as tfile:
        for row in tfile:
            if word in row:
                count += 1
    return count

In [100]:
#100 Read a csv file as a dictionary and return the dict keys
from csv import DictReader

def read_csv():
    with open('C:\\Users\\KDmytro\\input.csv') as csvfile:
        csvreader = DictReader(csvfile)
        for row in csvreader:
            print(row.keys())

## Codewars katas and more

In [101]:
#101 
'''
https://www.codewars.com/kata/5264d2b162488dc400000001
'''
def spin_words(string):
    for word in string.split():
        if len(word) > 4:
            string = string.replace(word, word[::-1])
    return string

spin_words('Hey fellow warriors')

'Hey wollef sroirraw'

In [102]:
#102
'''
https://www.codewars.com/kata/5552101f47fc5178b1000050
'''
def dig_pow(numb, p):
    res = sum([int(n) ** (p + count) for count, n in enumerate(str(numb))])
    if res % numb == 0:
        return res // numb
    else:    all_nums = []
    if a == b:
        return a
    else:
        if a > b:
            a, b = b, a 
        for i in range(a, b + 1):
            all_nums.append(i)
        return sum(all_nums)
        return -1
    
dig_pow(46288, 3)

51

In [103]:
#103
'''
https://www.codewars.com/kata/55f2b110f61eb01779000053
'''
def sum_of_nums(a, b):
    all_nums = []
    if a == b:
        return a
    else:
        if a > b:
            a, b = b, a 
        for i in range(a, b + 1):
            all_nums.append(i)
        return sum(all_nums)
    
sum_of_nums(-1, 2)

2

In [104]:
#104
'''
https://www.codewars.com/kata/5656b6906de340bd1b0000ac
'''
def longest(a, b):
    return ''.join(list(sorted(set(a + b))))

longest("xyaabbbccccdefww", "xxxxyyyyabklmopq")

'abcdefklmopqwxy'

In [105]:
#105
'''
https://www.codewars.com/kata/57cebe1dc6fdc20c57000ac9
'''
def find_short(string):
    listed_str = string.split()
    for inx, word in enumerate(listed_str):
        listed_str[inx] = len(word)
    return min(listed_str)

find_short('bunch of nice words')

2

In [106]:
#106
'''
https://www.codewars.com/kata/5526fc09a1bbd946250002dc
'''
def find_outlier(arr):
    odd, even = [], []
    for el in arr:
        if len(even) + len(odd) < 4:
            if el % 2 == 0 and len(even) < 3:
                even.append(el)
            elif el % 2 != 0 and len(odd) < 3:
                odd.append(el)
        else:
            break
    if len(even) == 1:
        return int(even[0])
    else:
        return int(odd[0])
                
find_outlier([2, 4, 6, 8, 10, 3])

3

In [107]:
#107
'''
https://www.codewars.com/kata/5544c7a5cb454edb3c000047
'''
def ball_game(h, bounce, window):
    if h <= 0 or bounce >= 1 or bounce <= 0 or window >= h:
        return -1
    else:
        count = 0
        if h * bounce <= window:
            return count + 1
        if h * bounce > window:
            while h > window:
                count += 1
                h *= bounce
                if h > window:
                    count += 1
        return count
    
    
h = 30
bounce = 0.75
window = 1.5

ball_game(h, bounce, window)

21

In [108]:
#108
'''
https://www.codewars.com/kata/576757b1df89ecf5bd00073b
'''
def tower(floor):
    pyr, star = [], 1
    lenth = floor * 2 - 1
    for i in range(floor):
        pyr.append(' ' * lenth)
    for inx, i in enumerate(range(floor)):
        pyr[i] = [(' ' * (lenth // 2 - inx)), ('*' * star), (' ' * (lenth // 2 - inx))]
        star += 2
    for inx, i in enumerate(pyr):
        pyr[inx]= i[0]+i[1]+i[2]
    return pyr

tower(5)

['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

In [109]:
#109
'''
https://www.codewars.com/kata/52597aa56021e91c93000cb0
'''
def move_zeros(array):
    new, zeros = [], 0
    for i in array:
        if i == 0:
            zeros += 1
        else:
            new.append(i)
    for i in range(zeros):
        new.append(0)
    return new

move_zeros([1, 0,1,2,0,1,3])

[1, 1, 2, 1, 3, 0, 0]

In [110]:
#110
'''
https://www.codewars.com/kata/52685f7382004e774f0001f7
'''
def make_readable(secs):
    h = secs // 3600
    m = (secs - h * 3600) // 60
    secs -= h * 3600 + m * 60
    if h < 10:
        h = '0' + str(h)
    if m < 10:
        m = '0' + str(m)
    if secs < 10:
        secs = '0' + str(secs)
    return f'{h}:{m}:{secs}'
        
make_readable(95000)

'26:23:20'

In [111]:
#111
'''
https://www.codewars.com/kata/546f922b54af40e1e90001da
'''
import string
def alphabet_position(sent):
    alp, numbers = {}, ''
    for inx, letter in enumerate(string.ascii_lowercase, start=1):
        alp[letter] = inx
    sent = [letter.lower() for letter in sent if letter in string.ascii_letters]
    for i in sent:
        numbers += str(alp[i]) + ' '
    return numbers[:-1]

alphabet_position("The sunset sets at twelve o' clock.")

'20 8 5 19 21 14 19 5 20 19 5 20 19 1 20 20 23 5 12 22 5 15 3 12 15 3 11'

In [112]:
#112
'''
Comb sort algorithm
'''
def sorter(x):
    k = len(x)
    swap = True
    while k > 1 or swap:
        k = max(1, int(k / 1.25))
        swap = False
        for i in range(len(x) - k):
            if x[i] > x[i + k]:
                x[i], x[i + k] = x[i + k], x[i]
                swap = True
    return x
    
sorter([6,5,3,7,4,9,1,4,8,2])

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9]

In [113]:
#113
'''
https://www.codewars.com/kata/51c8e37cee245da6b40000bd
'''
def solution(sent, ws):
    sent = sent.split('\n')
    for inx, i in enumerate(sent):
        for j in ws:
            if j in i:
                i = i.split(j)
                sent[inx] = i[0][:-1]
    sent = '\n'.join(sent)
    for i in ws:
        if i in sent:
            sent = solution(sent, ws)
    if len(sent) < 1:
        return sent
    if sent[-1] == ' ':
        sent = sent[:-1]
    return sent

#Code here is bad and messy, but it works
solution('cherries pears\npears . - lemons cherries\n! oranges bananas #\napples lemons avocados #\navocados apples bananas bananas', ['?', '!', '-', '#', '=', ',', "'", '.', '@'])

'cherries pears\npears\n\napples lemons avocados\navocados apples bananas bananas'

In [114]:
#114
'''
https://www.codewars.com/kata/5254ca2719453dcc0b00027d
'''
from itertools import permutations as ps
def permutation(strin):
    to_set = set(ps(strin, len(strin)))
    outlist = [] 
    for i in to_set:
        outlist.append(''.join(i))
    return outlist

permutation('abcd')

['cdab',
 'acdb',
 'abcd',
 'cdba',
 'dcab',
 'badc',
 'abdc',
 'adbc',
 'acbd',
 'bdac',
 'dabc',
 'bacd',
 'cbad',
 'cbda',
 'dbac',
 'cadb',
 'dcba',
 'cabd',
 'bcad',
 'bcda',
 'bdca',
 'dbca',
 'adcb',
 'dacb']

In [115]:
#115
'''
https://www.codewars.com/kata/520b9d2ad5c005041100000f
'''
def pig_latin(strin):
    pg_list = strin.split()
    for inx, i in enumerate(pg_list):
        if i.isalpha():
            temp = i[0]
            pg_list[inx] = i[1:] + temp + 'ay '
    if pg_list[-1][-1] == ' ':
        pg_list[-1] = pg_list[-1][:-1]
    return ''.join(pg_list)

pig_latin('Pig latin is cool 1')

'igPay atinlay siay oolcay 1'

In [116]:
#116
'''
https://www.codewars.com/kata/525c65e51bf619685c000059
'''
def cakes(recipe, store):
    count = 0
    check = True
    for i in recipe.keys():
        if i not in store or recipe[i] > store[i]:
            return 0
    while check:
        for j in recipe.keys():
            check = False
            store[j] -= recipe[j]
            if store[j] > 0:
                count += 1
                check = True
            else:
                break
    return count // len(recipe)

cakes({'cream': 200, 'flour': 300, 'sugar': 150, 'milk': 100, 'oil': 100}, {'sugar': 1700, 'flour': 20000, 'milk': 20000, 'oil': 30000, 'cream': 5000})

11

In [117]:
#117
'''
https://www.codewars.com/kata/55c04b4cc56a697bb0000048
'''
def scramble(symbols, word):
    symbols = list(symbols)
    for i in word:
        if i not in symbols:
            return False
        symbols.remove(i)
    return True

scramble('kates', 'steakk')

False

In [118]:
# Another, the most efficient way, I've figured out.
def scramble(symbols, word):
    for c in set(word):
        if symbols.count(c) < word.count(c):
            return False
    return True
    
scramble('rkqodlw', 'world')

True

In [119]:
#118
'''
https://www.codewars.com/kata/54b42f9314d9229fd6000d9c
'''
def duplicate_encode(strin):
    strin = list(strin.lower())
    code = ''
    for inx, symbol in enumerate(strin):
        strin.remove(symbol)
        if symbol in strin:
            code += ')'
        else:
            code += '('
        strin.insert(inx, symbol)
    return code

duplicate_encode("(( @")

'))(('

In [120]:
#119
'''
https://www.codewars.com/kata/55c45be3b2079eccff00010f
'''
def order(strin):
    ordered_dict = {}
    res = []
    for i in strin.split():
        for j in range(1, 10):
            if str(j) in i:
                ordered_dict[j] = i
                break
    l_order = sorted(ordered_dict)
    for word in l_order:
        res.append(ordered_dict[word])
    return ' '.join(res)
        
order("4of Fo1r pe6ople g3ood th5e the2")

'Fo1r the2 g3ood 4of th5e pe6ople'

In [121]:
#120
'''
https://www.codewars.com/kata/52774a314c2333f0a7000688
'''
def valid_parentheses(strin):
    clean = []
    if strin == '':
        return True
    for i in strin:
        if i == '(' or i == ')':
            clean.append(i)
    if not len(list(clean)) % 2 == 0:
        return False
    switch = True
    while switch:
        switch = False
        for i in range(len(clean) - 1):
            if clean[0] == ')' or clean[-1] == '(':
                return False
            if clean[i] + clean[i + 1] == '()':
                clean.remove(clean[i])
                clean.remove(clean[i])
                switch = True
                break
    return len(clean) == 0

valid_parentheses('(ifrcgvhwpj(khjxzck)rwa))ndwagjq)libeyh')

False

In [122]:
#121
'''
https://www.codewars.com/kata/5287e858c6b5a9678200083c
'''
def narcissistic(value):
    listed = [int(i) for i in str(value)]
    res = 0
    for n in listed:
        res += n ** len(listed)
    return value == res

narcissistic(1652)

False

In [123]:
#122
'''
https://www.codewars.com/kata/545cedaa9943f7fe7b000048
'''
import string
def is_pangram(value):
    abc = list(string.ascii_lowercase)
    listed = list(value.lower())
    if len(listed) < len(abc):
        return False
    for letter in abc:
        if letter not in listed:
            return False
    return True
    
is_pangram('Cwm fjord bank glyphs vext quiz')

True

In [124]:
#123
'''
https://www.codewars.com/kata/541c8630095125aba6000c00
'''
def digital_root(value):
    while value > 9:
        listed = [int(i) for i in str(value)]
        value = sum(listed)
    return value
    
digital_root(1234)

1

In [125]:
#124
'''
https://www.codewars.com/kata/54b724efac3d5402db00065e
'''
import string
def decode_morse(value):
    MORSE_CODE = { 'A':'.-', 'B':'-...',
                   'C':'-.-.', 'D':'-..', 'E':'.',
                   'F':'..-.', 'G':'--.', 'H':'....',
                   'I':'..', 'J':'.---', 'K':'-.-',
                   'L':'.-..', 'M':'--', 'N':'-.',
                   'O':'---', 'P':'.--.', 'Q':'--.-',
                   'R':'.-.', 'S':'...', 'T':'-',
                   'U':'..-', 'V':'...-', 'W':'.--',
                   'X':'-..-', 'Y':'-.--', 'Z':'--..',
                   '1':'.----', '2':'..---', '3':'...--',
                   '4':'....-', '5':'.....', '6':'-....',
                   '7':'--...', '8':'---..', '9':'----.',
                   '0':'-----', ', ':'--..--', '.':'.-.-.-',
                   '?':'..--..', '!':'-.-.--', '/':'-..-.', '-':'-....-',
                   '(':'-.--.', ')':'-.--.-', 'SOS':'...---...'}
    rev_morse = {value: key for (key, value) in MORSE_CODE.items()}
    text = ''  
        
    listed = value.split('  ')
    while "" in listed :
        listed.remove("")
    for inx, i in enumerate(listed):
        if isinstance(i, list):
            for j in i:
                if len(j) == 0:
                    listed[inx].remove(j)
        else:
            if len(i) == 0:
                listed.remove(i)
        if ' ' in i:
            listed[inx] = listed[inx].split()
    for word in listed:
        if isinstance(word, list):
            for let in word:
                if ' ' in let:
                    let = let.strip(string.whitespace)
                text += rev_morse[let]
        else:
            word = word.strip(string.whitespace)
            text += rev_morse[word]
        text += ' '          
    return text[:-1]
    
decode_morse('      ...---... -.-.--   - .... .   --.- ..- .. -.-. -.-   -... .-. --- .-- -.   ..-. --- -..-   .--- ..- -- .--. ...   --- ...- . .-.   - .... .   .-.. .- --.. -.--   -.. --- --. .-.-.-  ')

'SOS! THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG.'